<!-- <!-- <p>child works!</p>
<app-child2 [itemrecievedfromchild]="itemforchild"></app-child2>

<p>{{itemrecieved}}</p>
<p>{{itemrecieved2}}</p>


 <div class="container">
<div class="makecentre" style="text-align: center;">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>
 <table>
    <tr>
    <td>
        <div>
            <img [src]="imgurl1" alt="Cotton Tshirt" style="width:70%; height: 80%;">
            <h1>Cotton Shirt</h1>
            <p >100₹ </p>
            <p><button (click)="addNewItem()">Add to Cart</button></p>
        </div>
    </td>
    <td>
        <div>
            <img [src]="imgurl2" alt="suit" style="width:70%; height: 80%;">
            <h1>Raymond Suit</h1>
            <p>200₹ </p>
            <p><button (click)="addNewItem()">Add to Cart</button></p>
        </div>
    </td>
    <td>
        <div>
            <img [src]="imgurl3" alt="Denim shirt" style="width:70%; height: 80%;">
            <h1>Denim Shirt</h1>
            <p>300₹ </p>
            <p><button (click)="addNewItem()">Add to Cart</button></p>
        </div>
    </td>
    </tr>
    </table>
</div>

 -->
