<p>reactive-form works!</p>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div>
    <label>
        name:
        <input formControlName="name" placeholder="Enter Your name">
    </label>
    <label>
        Email:
        <input formControlName="email" placeholder="Enter email id">
    </label>
    <label>
        Message:
        <input formControlName="message" placeholder="Enter message">
    </label>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>
