 <div class="container">
<div class="makecentre" style="text-align: center;">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>
 <table class="styled-table" style="background-color:azure;">
    <tr>
    <td>
        <div>
            <img [src]="imgurl1" alt="Cotton Tshirt">
            <h5>Wheat</h5>
            <h5>400 $</h5>
            <p><button (click)="addtocart1()">Addtocart</button></p>
        </div>
    </td>
    <td>
        <div>
            <img [src]="imgurl2" alt="suit">
            <h5>Rice</h5>
            <h5>200 $</h5>
            <p><button (click)="addtocart2()">Addtocart</button></p>
        </div>
    </td>
    <td>
        <div>
            <img [src]="imgurl3" alt="Denim shirt">
            <h5>Pearl Millet</h5>
            <h5>200$</h5>
            <p><button (click)="addtocart3()">Addtocart</button></p>
        </div>
    </td>
    </tr>
    </table>
</div>

