<!-- <!-- <!-- <!-- <!-- <!-- <!-- <!-- <!-- <!-- <p> Hello</p>
<img [src]="imgurl">

<h3>Task 1</h3>
<div class="container">
      <button class="btn btn-primary" (click) = "count()">Click Me</button>    <p> {{countclick}}</p>
      <label>firstname</label>
      <input name= "firstname" value="This is My new file  {{countclick}}">
</div>


<h3> Task 2 : Put Entered Data in Table </h3>
<label>First name</label>
<input name="firstname" [(ngModel)] = "fname">
<br><br>
<label>Last name</label>
<input name="lastname" [(ngModel)] = "lname">
<br><br>
<label>Contact</label>
<input name="contact" [(ngModel)] = "contact">
<br><br>

<button class="btn btn-primary" (click)="FillTable()">Submit</button>
<table>
  <thead>
      <th style="padding-left:1em;">firstname</th>
      <th style="padding-left:1em;">Lastname</th>
      <th style="padding-left:1em;">Contact</th>

  </thead>
  <tbody>
      <tr>
          <td style="padding-left:1em;">{{fname}}</td>
          <td style="padding-left:1em;">{{lname}}</td>
          <td style="padding-left:1em;">{{contact}}</td>
      </tr>
    
  </tbody>
</table> 


<p> Task 3 </p>
<app-header></app-header>
<app-middle></app-middle>
<app-footer></app-footer> 


ngFor ngIf ngSwitch these are called as inbuilt structure is directive.
ngClass, ngstyle and ng Model are built in directive

<p> Day 2</p>
<h2>directive </h2>
<div class="container">
    <input name="firstname" [(ngModel)] = "fname">
    <p>{{fname}}</p>
</div>
<br><br>

<h2>ngif use</h2>
<div *ngIf="able">
    <p>True</p>
</div>


<div class="container">
<input name="getnewelement" [(ngModel)] = "getnumber"/>
<p>The Number Enter is : {{getnumber}}</p>
<div *ngIf="checkeven()">
    <p>Even is Even</p>
</div>
</div>

<br><br>

<h3>*ngFor</h3>

<div class="container">
    <div *ngFor="let numarray of numarrays">
        {{numarray}}
    </div>

    </div>

<br><br>
<h4>Task1: Print array which has more than five character</h4>

<div class="container">
    <div *ngFor="let strarray of strarrays">
        <div *ngIf="strarray.length > 5">
            <p>{{strarray}}</p>
        </div>
    </div>

</div>
<br><br>
<h4>Task 2: Print Number which is on odd location</h4>

<div class="container">
    <div *ngFor="let numbers of numberarrays">
        <div *ngIf="checklocation()">
            <p>{{numbers}}</p>
        </div>
    </div>

</div>
    
<h3>@input: Use @Input in child component</h3>
<app-child [itemrecieved]="itemsent"></app-child>
<br><br>


<h4>Task 3: Declare array in parent and print in child</h4>
<app-child [itemrecieved2]="itemarray"></app-child>

<h4><p>Output and Event
    @output : is a property through the data travel to the parents, its a decorated function which carries data from child to Parents
    TO rais an event @output functionality must have type of Eventameter
    #newitem we can store temporary  variable with this variable
</p>
</h4>
<h4>Task 4: Count the number of added Cart</h4>
<i class="fa fa-shopping-cart" style="font-size:48px;color:red;">
    <p> {{addcounter}}</p></i>

<app-child (newitemEvents)="increamentcounter()"></app-child>

 <i class="fa fa-shopping-cart" style="font-size:48px;color:red;">
    <p> {{counter2}}</p></i>

<app-products (newitemEvents)="increamentcounter2()"></app-products>

 <app-products></app-products>
  <h4>ngClass</h4>

  <div class="container">
      <p [ngClass]="item > 10 ? 'red' : 'yellow'">{{item}}</p> 


      <div *ngFor="let element of newArray">
        <p [ngClass]="element % 2 == 0 ? 'red' : 'yellow'">{{element}}</p> 

      </div>

          <button class="btn btn-primary" onclick="unable()">Unable</button>
          <button class="btn btn-primary" onclick="disable()">Disable</button>
          <p [ngClass]="1 ? 'red' : 'yellow'">Helllo</p> 
</div>

<h3>Task 1<h3>
<h4>ngstyle</h4>

<div class="container">
    <button [ngStyle]="{background:'yellow'}">Click</button>
</div>


<h3>Task 2<h3>
 <div class="container">

     <table style="width: 100%">
        <div *ngFor="let d of data"; let i = index >
         <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Emial</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">website</th>
            <th scope="col">Company</th>
            <th scope="col">Hide</th>
         </tr>
         

         <tr >
             <td>{{d.id}}</td>
             <td>{{d.name}}</td>
             <td>{{d.username}}</td>
             <td>{{d.email}}</td>
             <td>{{d.address}}</td>
             <td>{{d.phone}}</td>
             <td>{{d.website}}</td>
             <td>{{d.company}}</td>
             <td><button onclick="delete(i)">Hide</button></td>
         </tr>
         </div>

     </table>
 
 </div>  -->
<!-- 
 <h3>Task 3</h3>
 <h3>{{counter}}</h3>
<div *ngFor="let d of itemscart">
 <table class="styled-table">
    <thead>
        <tr class="active-row">
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>quantity</th>
            <th>location</th>
            <th>presentstock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.price}}</td>
            <td>{{d.quantity}}</td>
            <td>{{d.location}}</td>
            <td>{{d.presentstock}}</td>
        </tr>
    </tbody>
</table>
</div>
<app-products (newitemEvents)="addcart($event)"></app-products> -->
<!-- 

<h3> Date 28.02 Task 1 using services put jason data in table</h3>

<p>{{getdate}}</p>
<div class="container">
    <table class="containertab">
        <tr>
           <th scope="col">ID</th>
           <th scope="col">Name</th>
           <th scope="col">Username</th>
           <th scope="col">Emial</th>
           <th scope="col">Address</th>
           <th scope="col">Phone</th>
           <th scope="col">website</th>
           <th scope="col">Company</th>
        </tr>
        

        <tr *ngFor="let d of jasonfiledata">
            <td >{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.username}}</td>
            <td>{{d.email}}</td>
            <td>{{d.address}}</td>
            <td>{{d.phone}}</td>
            <td>{{d.website}}</td>
            <td>{{d.company}}</td>
        </tr>
    </table>

</div> 

<br><br>

  
<h3> Date 28.02 Task 2: counter pressed button in another component using services</h3>
Child is child component for parent 
<button class="btn btn-primary" (click)="updatecounter()"></button>

{{counter}}

<br><br>
<h3> Date 28.02 Task 3: using services put one component data in another component</h3>
parents to services and services to child
<div class="container">
    <label>First name</label>
<input name="firstname" [(ngModel)] = "firstname">
<br><br>
<label>Last name</label>
<input name="lastname" [(ngModel)] = "lastname">
<br><br>

<button class="btn btn-primary" (click)="additemtots()">Submit</button>
</div>

<app-child></app-child>

<br><br><br><br>
<h3>task 4 : Pass main file data to service and then pass it to child</h3>

<h4>Ng-Form </h4>

<div class="container">
    <form #myForm="ngForm" (ngSubmit)="onsubmitofform(myForm.value)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" [ngModel]="user.email" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" [ngModel]="user.password" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"name="address" [ngModel]="user.address" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Sign in</button>
      </form>
</div>

<app-child></app-child>


<br><br>

<!-- Task 5: Print Table of any  number 
<h3>Print Multiplication table</h3>
 
<div class="container">
    <label>Enter Number</label>
<input name="ptrnumber" [(ngModel)] = "prtnumber">
<br><br>
<button class="btn btn-primary" (click)="printtable(prtnumber)">Submit</button>
<div *ngFor="let num of numarray; index as i">
    <p> {{prtnumber}} * {{i+1}} = {{num}}</p>
</div>
</div>

<!-- Task 6: ask user to enter from to too booking 



<h3> Task 6: Booking</h3>
<label>Date 1</label>
<input type="date" name="date1" [(ngModel)] = "date1">
<br><br>
<label>Date 2</label>
<input type="date" name="date2" [(ngModel)] = "date2">
<br><br>
<br><br>
<button class="btn btn-primary" (click)="countduration(date1,date2)">Submit</button>

<br><br>
{{date1}}<br>
{{date2}}<br>
 -->


<!-- <h4>01/03 Tasks
</h4>

<h4>Task 1: Form Validation</h4>
<app-reactive-form></app-reactive-form> -->
<!-- 
<h4 style="text-align:center;">Task 2: AdressValidation For  Booking</h4>
<app-reactive-address-form></app-reactive-address-form> -->


<!-- <h4>02/03</h4> -->
<!-- <h4>Using Http client fetch json data from url</h4>
<div class="container">
    <table class="containertab">
        <tr>
           <th scope="col">ID</th>
           <th scope="col">Name</th>
           <th scope="col">Username</th>
           <th scope="col">Emial</th>
           <th scope="col">Address</th>
           <th scope="col">Phone</th>
           <th scope="col">website</th>
           <th scope="col">Company</th>
        </tr>
        

        <tr *ngFor="let d of htdata">
            <td >{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.username}}</td>
            <td>{{d.email}}</td>
            <td>{{d.address}}</td>
            <td>{{d.phone}}</td>
            <td>{{d.website}}</td>
            <td>{{d.company}}</td>
        </tr>
    </table>

</div> 

<h4>Fetch jason data from selfmade json file</h4>
<ul *ngFor="let d of htdata">
    <li>
        {{d.id}}
        {{d.Name}}
        {{d.Mobileno}}
        {{d.Street}}
        {{d.City}}
        {{d.State}}
        {{d.Zip}}
    </li>
</ul> 

<h4> Fetch data from json and put in form</h4>
<div class="container">
    <label>ID: </label>
    <input type="number" [(ngModel)] = "id"><br>

    <label>Name: </label>
    <input type="text" [(ngModel)] = "name" placeholder={{name}}><br>

    <label>Mobile No: </label>
    <input type="number" [(ngModel)] = "number" placeholder={{number}}><br>

    <label>Street: </label>
    <input type="text" [(ngModel)] = "street" placeholder={{street}}><br>
  
    <label>City: </label>
    <input type="text" [(ngModel)] = "city" placeholder={{city}}><br>
  
    <label>State: </label>
    <input type="text" [(ngModel)] = "state" placeholder={{state}}><br>
    <label>Zip Code: </label>
    <input type="number" [(ngModel)] = "zip" placeholder={{zip}}><br>
    <button type="submit" class="btn btn-primary" (click)="showdatatoform(id)">Get</button>
</div>



<p>POSt GET</p>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div>
    <label>
        name:
        <input formControlName="name" placeholder="Enter Your name">
    </label>
    <label>
        Email:
        <input formControlName="email" placeholder="Enter email id">
    </label>
    <label>
        Message:
        <input formControlName="message" placeholder="Enter message">
    </label>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>

 -->

 <app-product2></app-product2>
