<!-- <!-- <p> Hello</p>
<img [src]="imgurl">

<h3>Task 1</h3>
<div class="container">
      <button class="btn btn-primary" (click) = "count()">Click Me</button>    <p> {{countclick}}</p>
      <label>firstname</label>
      <input name= "firstname" value="This is My new file  {{countclick}}">
</div>

<h3> Task 2 : Put Entered Data in Table </h3>
<label>First name</label>
<input name="firstname">
<br><br>
<label>Last name</label>
<input name="lastname">
<br><br>
<label>Contact</label>
<input name="contact">
<br><br>
<var class="btn btn-primary" (click)="FillTable()">Submit</var>

<table>
  <thead>
      <th>Name</th>
      <th>Index</th>
  </thead>
  <tbody>
      <tr>
          <td>{{name}}</td>
          <td>{{name}}</td>
          <td>{{name}}</td>
      </tr>
    
  </tbody>
</table> -->

<app-header></app-header>
<app-middle></app-middle>
<app-footer></app-footer>